@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .nav-link {
    @apply relative text-xl text-logitechGray transition-all duration-300 ease-out px-4 py-2 hover:bg-white/20 hover:text-logitechBlue;
  }
}
